$table-padding: 10px 15px;
$table-height: 40px;
$table-border: 1px solid #999;
$table-fz: 13px;

$table-cold-bg: #D9EDF7;
$table-hot-bg: #F2DEDE;

table {
  tr td {
    padding: $table-padding;
    border-top: $table-border;
  }
  th {
    text-align: center;
    padding: 0;
    border-top: $table-border;
    height: $table-height;

    > span {
      font-size: $table-fz;
    }
  }

  .cold {
    background-color: $table-cold-bg;
  }
  .hot {
    background-color: $table-hot-bg;
  }
}
